body{
	background: url("../img/darkbg.jpg") no-repeat center center fixed !important;
	background-size:cover!important;
}
#container{
	background: white;
	width: 70%;
	min-width: 1000px;
	margin-left:auto; 
	margin-right:auto; 
	padding-bottom:10px; 
	position: relative;top :10px;
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#space{
	width: 70%;
	position: relative;
	top:10px;
	left: 1%;
	display: inline-block;
	background: black;
}
#form{
	display: inline-block;
	min-height: 100px;
	width: 26%;
	position: relative;
	padding: 10px;
	left: 2.6%;
}
#header{
	padding:20px;
}
#check{
	display: inline-block;
}
#field{
	display: inline-block;
	width: 90%;
}